<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- Roboto Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i">
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">

    <!-- Page Style -->
    <link rel="stylesheet" href="../css/pages/users.css">

    <!-- Angular Liberary -->
    <script src="../node_modules/angular/angular.min.js"></script>

    <!-- Angular Development Files -->
    <script src="../js/app.js"></script>
    <script src="../js/controllers/SidebarController.js"></script>
    <script src="../js/controllers/UserDetailsController.js"></script>
    <script src="../js/services/GithubService.js"></script>

</head>
<body>
    <!-- Start Navigation Bar -->
    <nav class="navigation-bar">

        <a href="#" class="navigation-bar__logo">
            <img src="../images/logo.png" alt="logo-image" class="navigation-bar__image">
            <strong>Git</strong>Hub
        </a>

        <button class="navigation-bar__toggler" type="button" data-toggle="collapse" data-target="#collapseArea" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="collapseArea" class="navbar-collapse collapse">
            <ul class="navigation-list">
                <li class="navigation-list__item navigation-list--active">
                    <a href="" class="navigation-list__link">Home</a>
                </li>
                <li class="navigation-list__item">
                    <a href="" class="navigation-list__link">Users</a>
                </li>
                <li class="navigation-list__item">
                    <a href="" class="navigation-list__link">About</a>
                </li>
            </ul>
        </div>
        
    </nav> 
    <!-- End Navigation Bar -->
    
    <main class="main" ng-app="githubApp">
        <!-- Start Sidebar -->
        <aside class="sidebar" ng-controller="SidebarController">
            
            <div class="sidebar__title">
                <h3 class="sidebar__h3">users list</h3>
            </div>

            <ul class="sidebar__users-list">
                <li class="sidebar__user-item"
                    ng-class="{ 'sidebar--active-user': currentUser.login === user.login}"
                    ng-repeat="user in userList"
                    ng-click="onClickUserItem(user.login)">
                    <img ng-src="{{ user.avatar_url }}" alt="user-image" class="sidebar__user-image">
                    <span class="sidebar__user-name">{{ user.login }}</span>
                </li>
            </ul>

            <div class="sidebar__load-more">
                <button class="btn btn-primary">Load More</button>
            </div>

        </aside>
        <!-- End Sidebar -->

        <!-- Start User's Details -->
        <section class="user-details" ng-controller="UserDetailsController">
            <div class="user-details__title">
                <h3 class="user-details__h3">user's details</h3>
            </div>

            <div class="user-details__body">
                <img ng-src="{{ currentUser.avatar_url }}" alt="user-details-avatar" class="user-details__image">
                <div class="name-and-id">
                    <p class="user-details__name">{{ currentUser.login }}</p>
                    <em class="user-details__id">@id:{{ currentUser.id }}</em>
                </div>
                <div class="user-details__email">
                    <label class="user-details__label">email:</label>
                    <span class="user-details__value">mght29@gmail.com</span>
                </div>
                <div class="user-details__created-at">
                    <label class="user-details__label">created at:</label>
                    <span class="user-details__value">{{ currentUser.created_at | date }} at {{ currentUser.created_at | date:'mediumTime' }}</span>
                </div>
            </div>

        </section>
        <!-- End User's Details -->

    </main>

</body>
</html>